<section id="menu1">
  <div class="menu">
    <div class="h2">
      <h2>TCカラーセラピー</h2>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <img class="menu-image" src="/images/tc.jpeg">
    </div>
    
    <div class="col-md-6">
      <div class="menu-description">
        カラーセラピーとは占いではなく色彩療法です。<br>
        色にはそれぞれキーワード（意味）が存在します。<br>
        セラピーは14本のカラーボトルから選んで頂き、<br>
        選んだボトルの色から今の心の状態を紐解きます。<br>
        人は表に出ている部分が顕在意識として全体の1〜2割を占め、<br>
        残りの8〜9割は心の奥底に潜んでいる潜在意識とされています。<br>
        セラピーではこの潜在意識に気づいて自分と向き合い、<br>
        理解して整理し、前向きになることを目的としています。<br>
        不思議なことに好きな色を選ばないかもしれません。<br>
        それは今のあなたの潜在意識が選んでいるからです。
      </div>
    </div>
    
    <div class="price">
      <h4>Price: ¥3,000(40分)</h4> 
      <span>延長10分につき¥500</span>
    </div>
    <div class="contact_btn">
      <%= link_to root_path, class: "square_btn" do%>
        ご予約はこちら
      <% end %>
    </div>
  </div>
</section>

<section id="menu2">
  <div class="menu">
    <h2>Sci/ART<br>パーソナルカラー診断</h2>
    
    <div class="col-md-5 col-md-offset-1">
      <img class="menu-image" src="/images/sciart.jpg">
    </div>
    
    <div class="col-md-6">
      <div class="menu-description">
        Sci/ART(サイアート)・パーソナルカラーとは・・・<br>
        ニューヨーク、ボストン、フロリダを中心とした全米から全米へと<br>
        飛躍を続けるSci/ART社の12分類カラー診断システムです。<br>
        肌の色や52枚のドレープ(布)を使い診断していきます。<br>
        この診断を受ければ自分に似合う色、似合わない色を知ることができ、<br>
        着こなしの幅も広がり洋服を選ぶ時間も短縮できます。<br>
        自分ににある色を着こなすことで、第一印象もよくなり、<br>
        若々しくなり、自分に自信を持って自分らしくいられるでしょう。
      </div>
    </div>
    
    <div class="price">
      <h4>Price: ¥6,000(約90分)</h4> 
      <span>延長10分につき¥500</span>
      <p>・2名様での受講の場合1人¥5,000になります</p>
    </div>
    <div class="contact_btn">
      <%= link_to root_path, class: "square_btn" do%>
        ご予約はこちら
      <% end %>
    </div>
  </div>
</section>

<section id="menu3">
  <div class="menu">
    <h2>TCカラーセラピスト講座</h2>
    
    <div class="col-md-5 col-md-offset-1">
      <img class="menu-image" src="/images/therapist.jpeg">
    </div>
    
    <div class="col-md-6">
       <div class="menu-description">
        1日5時間の講習で簡単にリーディングができるように開発された<br>
        解説書と14本のボトル付きの講座です。
      </div>
    </div>
   
    <div class="price">
      <h4>Price: ¥19,000</h4>
    </div>
    
    <div class="contact_btn">
      <%= link_to root_path, class: "square_btn" do%>
        ご予約はこちら
      <% end %>
    </div>
  </div>
</section>

<section id="menu4">
  <div class="menu">
      <h2>色育講座</h2>
    <div class="col-md-5 col-md-offset-1">
      <img class="menu-image" src="/images/iroiku.jpg">
    </div>
    
    <div class="col-md-6">
      <div class="menu-description">
        色育(いろいく)とは・・・<br>
        現代の大人も子供も足りないと言われている3つの力<br>
        (想像力・集中力・コミュニケーション力)を誰の身近にもある色を<br>
        通して楽しみながら育むことを目的としています。<br>
        「色育」では色で分析や決めつけたりはしません。<br>
        「待つ」「受け入れる」「寄り添う」ことを大切にしています。<br>
        人にはそれぞれの色(個性)があります。<br>
        自分と他人の色を比べるのではなく、お互いの色を尊重することをゴールにしています。
      </div>
    </div>
    
    <div class="price">
      <h4>---</h4>
      <span>---</span>
      <p>--- ---</p>
    </div>
    <div class="contact_btn">
      <%= link_to root_path, class: "square_btn" do%>
        ご予約はこちら
      <% end %>
    </div>
  </div>
</section>

<footer>
  <small>&copy; 2018 Core Color</small>
</footer>
