.newWrap {
  margin-top: 300px;
}

.newTitle h3 {
  margin: 0;
  display: inline-block;
}

.newTitle {
  margin:0 0 150px 15px;
}

.contact-title {
  border-bottom: solid 1px black;
}

.form-group {
  margin-bottom: 50px;
  overflow: hidden;
}

.text-margin {
  margin-top: 20px;
}


.col-md-8 {
  margin-bottom: 1px;
  min-height: 20px;
}

